<a href="#" onclick="javascript:window.history.back(-1);return false;"><%= t('Back') %></a> |
<%= link_to t('New Memo'), new_memo_path %> |
<%= link_to t('Memos'), memos_path %> |
<%= link_to t('Categories'), categories_path %> |
<%= link_to t('Keywords'), keyword_index_path %> |
<%= link_to t('HashTags'), hash_tag_index_path %>
